# ASSESSING THE DATA & BUILDING INTUITION

In [1]:
# import modules
import numpy as np
import pandas as pd

In [3]:
# read csv file into a dataframe
df = pd.read_csv('data/raw_bike_data.csv')
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.89,-87.72,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.90,-87.69,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.90,-87.70,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.92,-87.69,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.90,-87.70,casual

In [4]:
# number of samples and columns
print('The number of samples', df.shape[0], 
     '\nwhiles the columns', df.shape[1])

The number of samples 96834
whiles the columns 13

In [5]:
# duplicate rows in each dataset
print('The number of duplicate rows:', df.duplicated().sum())

The number of duplicate rows: 0

In [7]:
# features with missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96834 entries, 0 to 96833
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             96834 non-null  object
 1   rideable_type       96834 non-null  object
 2   started_at          96834 non-null  object
 3   ended_at            96834 non-null  object
 4   start_station_name  88209 non-null  object
 5   start_station_id    88209 non-null  object
 6   end_station_name    86557 non-null  object
 7   end_station_id      86557 non-null  object
 8   start_lat           96834 non-null  float64
 9   start_lng           96834 non-null  float64
 10  end_lat             96731 non-null  float64
 11  end_lng             96731 non-null  float64
 12  member_casual       96834 non-null  object
dtypes: float64(4), object(9)
memory usage: 9.6+ MB

In [8]:
# number of non-null unique values for each features in each dataset
df.nunique()

ride_id               96834
rideable_type             3
started_at            93736
ended_at              93582
start_station_name      640
start_station_id        638
end_station_name        632
end_station_id          629
start_lat             23731
start_lng             23797
end_lat               22885
end_lng               22796
member_casual             2
dtype: int64

In [9]:
# number of null values for each features
df.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name     8625
start_station_id       8625
end_station_name      10277
end_station_id        10277
start_lat                 0
start_lng                 0
end_lat                 103
end_lng                 103
member_casual             0
dtype: int64

### Quality issues
> 'started_ at' and 'ended_at' are objects instead of a date type.