# CLEANING THE DATA

In [2]:
# import modules
import numpy as np
import pandas as pd

In [3]:
# read csv file into a dataframe
df = pd.read_csv('data/raw_bike_data.csv')
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.89,-87.72,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.90,-87.69,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.90,-87.70,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.92,-87.69,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.90,-87.70,casual

Clean all of the issues documented while assessing the data

### Issue #1: Date type
#### Define
Change the data type of 'started_ at' and 'ended_at' columns from object to date type.

#### Code

In [4]:
# object to datetime
df.started_at = pd.to_datetime(df.started_at)
df.ended_at = pd.to_datetime(df.ended_at)

#### Test

In [10]:
print('Data type for "started_at":', df.started_at.dtypes)
print('Data type for "ended_at":', df.ended_at.dtypes)

Data type for "started_at": datetime64[ns]
Data type for "ended_at": datetime64[ns]

#### Store data
Save the cleaned dataset into a csv file named "clean_bike_data.csv".

In [11]:
df.to_csv('data/clean_bike_data.csv', index=False)