# Gather Data

The data has been made available by Motivate International Inc and it can be found [here](https://divvy-tripdata.s3.amazonaws.com/index.html).

In [1]:
# import modules
import os
import numpy as np
import pandas as pd

In [ ]:
# assign path
path, dirs, files = next(os.walk("data/csv/"))
file_count = len(files)

#### Method 1
Read the csv files into a dataframe.<br>
This method creates a list for each file. This method would't be used.

# create empty list
dataframes_list = []

# append datasets to the list
for i in range(file_count):
    df = pd.read_csv("data/csv/"+files[i])
    dataframes_list.append(df)

# display datasets
for dataset in dataframes_list:
    display(dataset)

#### Method 2
Read the csv files into a dataframe.<br>
This method reads all the csv files into one dataframe

In [14]:
# create empty list
entire_df = []
 
# append datasets to the list
for i in range(file_count):
    entire_df.append(pd.read_csv("data/csv/"+files[i]))
     
df = pd.concat(entire_df, ignore_index=True)
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.890000,-87.720000,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.900000,-87.690000,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.900000,-87.700000,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.920000,-87.690000,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.900000,-87.700000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5595058,847431F3D5353AB7,electric_bike,12/12/21 13:36,12/12/21 13:56,Canal St & Madison St,13341,NaN,NaN,41.882289,-87.639752,41.890000,-87.610000,casual
5595059,CF407BBC3B9FAD63,electric_bike,12/6/21 19:37,12/6/21 19:44,Canal St & Madison St,13341,Kingsbury St & Kinzie St,KA1503000043,41.882123,-87.640053,41.889106,-87.638862,member
5595060,60BB69EBF5440E92,electric_bike,12/2/21 08:57,12/2/21 09:05,Canal St & Madison St,13341,Dearborn St & Monroe St,TA1305000006,41.881956,-87.639955,41.880254,-87.629603,member
5595061,C414F654A28635B8,electric_bike,12/13/21 09:00,12/13/21 09:14,Lawndale Ave & 16th St,362,NaN,NaN,41.860000,-87.720000,41.850000,-87.710000,member
5595062,37AC57E34B2E7E97,classic_bike,12/13/21 08:45,12/13/21 08:49,Michigan Ave & Jackson Blvd,TA1309000002,Dearborn St & Monroe St,TA1305000006,41.877850,-87.624080,41.881320,-87.629521,member

Save the dataframe into a csv file

In [ ]:
df.to_csv('data/raw_bike_data.csv', index=False)